<!DOCTYPE html>  
<html>
<head>

	<title></title>
</head>
<body>
	<h1>Mars Missions</h1>
	<div class="missions">
		
		<ul>
				<div>

					<li>
						<%marsMissions.forEach(function(marsMissions, index){%>
						<a href=/marsMissions/<%=index%>> <%= marsMissions.name%> </a>
						<%})%>
					</li>


				</div>

		</ul>

	</div>

</body>
</html>